.dialog-container{
    display: none;
    position:fixed;
    top:0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: auto;
}
    .dialog-container .dialog-background{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #BBB;
        opacity: 0.7;
    }
    .dialog-container .dialog-modal{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1000;
        
    }
        .dialog-container .dialog-modal .dialog-modal-add-form{
            position: absolute;
            background-color: #fff;
            padding: 24px;
            border-radius: 4px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 870px;
            height: 830px;
            opacity: 1;
        }
            .dialog-container .dialog-modal .dialog-modal-add-form .close-btn{
                position: absolute;
                right: 0px;
                top: 0;
                padding: 8px 8px;
                border-radius:0px 4px 0px 0px;
            }
            .dialog-container .dialog-modal .dialog-modal-add-form .close-btn:hover{
                background-color: #E5E5E5;
            }
            .dialog-container .dialog-modal .dialog-modal-add-form .modal-header-text{
                margin-top: 10px;
                font-size: 20px;
                font-family: "GoogleSans-Bold";
            }
                .dialog-container .dialog-modal .dialog-modal-add-form .dialog-modal-add-form-main{
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 20px;
                }
                .dialog-container .dialog-modal .dialog-modal-add-form .dialog-modal-add-form-main .avatar{
                    width: 240px;
                }
                .dialog-container .dialog-modal .dialog-modal-add-form .dialog-modal-add-form-main .add-form{
                    margin-left: 10px;
                }
                .dialog-container .dialog-modal .dialog-modal-add-form .dialog-modal-add-form-main .add-form-header{
                    font-size: 15px;
                    font-family: "GoogleSans-Medium";
                }
                .dialog-container .dialog-modal .dialog-modal-add-form .dialog-modal-add-form-main .add-form-header::after{
                    content: "";
                    display: block;
                    margin-top: 4px;
                    height:4px;
                    background-color: #019160                    ;
                    width: 14%;
                }
                .common-inputs{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                .common-inputs .common-input{
                    position: relative;
                }
                .dialog-container .dialog-modal .dialog-modal-add-form .dialog-modal-add-form-main .add-form .common-info{
                    margin-top: 10px;
                }
                .dialog-container .dialog-modal .dialog-modal-add-form .dialog-modal-add-form-main .add-form .job-info{
                    margin-top: 40px;
                }
                .add-form-footer{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: calc(100% - 48px);
                    background-color:#E5E5E5;
                    height: 40px;
                    padding: 10px 24px;
                    z-index: 1001;
                    display: flex;
                    justify-content: flex-end;
                    border-radius: 0px 0px 4px 4px;
                }
                #cancel{
                    border: 1px solid #BBB;
                    border-radius:4px;
                    margin-right: 4px;
                }
                .input-salary{
                   box-sizing: border-box;
                   width: 304px;
                }
                #salary{
                    padding-right: 56px;
                }
                .inner-text{
                    font-family: "GoogleSans-Italic";
                    color: #BBB;
                    position: absolute;
                    bottom:12px;
                    right: 10px;
                }