.dropdown-wrapper{
    position: relative;
    height: 30px;
    padding: 0px 24px;
    width:240px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: "GoogleSans-Bold";
    z-index: 101;
}
.dropdown-wrapper .department-name{
    display: inline-block;
    text-align: left;
    margin-left: 12px;
    line-height: 30px;
    font-size:inherit;
    font-family: inherit;
    border:none;
}
.dropdown-wrapper .dropdown-list{
    display: none;
    position: absolute;
    top:31px;
    max-height: 150px;
    width:calc(100% - 24px);
    background-color:#fff;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 4px;
    z-index: 101;
}
.dropdown-wrapper .dropdown-list .item{
    box-sizing: border-box;
    font-size: 15px;
    line-height:30px;
    font-family: "GoogleSans-Bold";
    width:100%;
    height:30px;
    padding-left: 12px;
    border:1px solid #dedede;
    transition: 0.25s ease;
    cursor: pointer;
}
.dropdown-wrapper .dropdown-list .item:hover{
    background-color:#bbb;
    color:#fff;
}
.dropdown-wrapper .arrow{
    position: absolute;
    height:15px;
    width:15px;
    top: 7.5px;
    right: 0px;
    background-image: url('../Resource/icon/arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    transform: rotate(90deg);
    z-index: 101;
    cursor: pointer;
    transition: transform .25s ease-in-out; 
}
.arrow-click{
    transform: rotate(-90deg) !important;
}