.grid {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    height:calc(100vh - 238px);
    overflow: auto;
}

table {
    box-sizing: border-box;
    width: calc(100% - 7px);
}

table th,
td {
    box-sizing: border-box;
    max-width: 100px;
    border-bottom: 1px solid #bbb;
    box-sizing: border-box;
    line-height:48px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 12px;
}

table tbody tr:nth-child(odd) {
    background-color: #E9EBEE;
}